<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tone Finder</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <link href="/static/css/main_style.css" rel="stylesheet">    
    <meta charset="UTF-8">
</head>

<body>
    <!-- Navbar Section-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guitar">Guitar Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ir">IR Profile</a>
                    </li>

                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#">ToneFinder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    {% if login %}
                        <li class="nav-item">
                            <a class="nav-link" href="/user">{{ username }}'s Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/signup">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main page shit -->
    <h1 class="text-center">Recreate Your Guitar Tones!</h1>
    <p class="text-center">Welcome to Tone Finder! Recreate your favorite song's guitar tones using Tone Finder.</p>
    <p class="text-center">Upload your own guitar recording on the left, and the guitar recording that you want your own to sound like on the right!</p> 
    
    <div class="container-fluid">
        <form action="" method="post" enctype="multipart/form-data" class='card p-3 bg-light' name="main-form">
            <div style="text-align: center;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Reference to use</option>
                    <option value="1">Use Uploaded Reference File</option>
                  </select>
            </div>
            <div class="input-group">
                <label for="source" class="col-form-label">Source: </label>
                <input type="file" class="form-control" id="source" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name='source'>
                <label for="reference" class="col-form-label">Reference: </label>
                <input type="file" class="form-control" id="reference" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name='reference'>   
            </div>
            <div style="text-align: center;">
                <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
            </div>
        </form>
    </div>

    {% if submitted %}
    <div class="container-fluid">
        <a href="transformed_file/{{ transformed }}" download >
            <img src="/static/images/music_icon.png" alt="Music Icon" width="100" height="100">
        </a>
        <a href="ir_file/{{ irfile }}" download>
            <img src="/static/images/music_icon.png" alt="Music Icon" width="100" height="100">
        </a>
        <form class='card p-3 bg-light' id="irform">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="more_info">
                <label class="form-check-label" for="defaultCheck1">
                    Save IR File To An IR Profile
                </label>
            </div>
            <div class="mb-3" id="conditional_part">
                <label for="ir_profile_name" class="form-label">Name For IR Profile</label>
                <input type="text" class="form-control" id="ir_profile_name">
                <input type="hidden" id="ir_filename" name="ir_filename" value="{{ irfile }}">
                <div style="text-align: center;">
                    <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Create IR Profile</button>
                </div>
            </div>
            
        </form>
        <div class="d-flex justify-content-center" id="hidden">
        </div>
    </div>
    {% endif %}


    <!-- Load JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
</body>


</html>
