<!DOCTYPE html>
<html lang="en">
<head>
    <title>Insta485</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
</head>

<div>
    <div>
        <p style="font-size:40px; font-weight:bold;"> 
            <a href="/">Insta485</a>
            <span style="float:right; font-size:20px; font-weight:normal">
                <a href="/accounts/login/">login</a>
            </span>
        </p>
    </div>
    <hr>
    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="username"/>
        <div></div>
        <input type="password" name="password"/>
        <div></div>
        <input type="submit" value="login"/>
    </form>
    Don't have an account? <a href="/accounts/create/">Sign up</a>
</div>